<div ng-controller="ShowController">

  <div class="item item-image ">
    <img src="/images/child_love_maps_background.jpg">
  </div>

  <div class="background-image-container">
    <div class="padding background-image-container__title--fun-and-play"> GET TO KNOW <br> YOUR CHILD</div>
  </div>

  <div class="padding main-explanation row" style="background-color: #B9DF3B;">
      <div class="super-information-circled col col-5 col-center"></div>
      <div class="col col-90"> Develop a greater understanding of what makes your child tick and create a more rewarding family life
      </div>
  </div>

  <div class="sub-explanation__text">
    <p>Think you know your child? The 100 questions in this app challenge parents to create "love maps" for their sons and daughters.</p>
  </div>

 <div class="app-store-link__container" style="border: 3px solid #B9DF3B;"> 
    <a href="itms://itunes.apple.com/us/app/your-childs-love-map/id460855389?mt=8" class="app-store-link__text icon-left super-reply" style="color: #B9DF3B;"> View In The App Store</a> 
 </div>

</div>