<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Rituals Of Connection
    </super-navbar-title>
  </super-navbar>

  <div class="item item-image ">
    <img src="/images/rituals_of_connection_background.jpg">
  </div>

  <div class="background-image-container">
    <div class="background-image-container__title-container--rituals-of-connection">
      <div class="padding background-image-container__title-container-text--open-ended-questions">MEANINGFUL WAYS <br>TO CONNECT</div>
    </div>
  </div>

    
  <div class="padding main-explanation row" style="background-color: #AF61D3;">
    <div class="super-heart col col-5 col-center"></div>
    <div class="col col-90">Couples who want to build and maintain emotional ties can create certain types of rituals in order to achieve closeness.
    </div>
  </div>

  <div class="sub-explanation__text">
    <p> Rituals of connection are shared activities that you do on a repeated basis (from daily to yearly) that have meaning for you as a couple. They can be small or big, splashy or simple, as long as they are a regular part of your life that helps you stay connected.</p>
    <p>Select an item from the list and talk about if you would like this ritual in your partnership, and if so, exactly how it should go, who should do what and when, and how it should end. Be sure to talk about if and why this is important to you, and how this ritual was handled (or mishandled) in your original families or earlier relationships.</p>
  </div>

  <super-navigate view-id="begin-questions">
    <div class="begin-questions">GET STARTED</div>
  </super-navigate>

</div>


